alias c='clear'
alias q='exit'

alias cat='bat'

alias path='echo $PATH | tr ":" "\n"'
alias open='explorer.exe'

alias d='ranger'
alias ddot="ranger $DOTFILES"
alias dconf="ranger $HOME/.config"

alias so='source'

alias sobash="source $BASHRC"

alias pac='pacman'
alias pacman='sudo pacman'

alias v='$EDITOR'
alias sv="sudo $EDITOR"
alias vdot="$EDITOR $DOTFILES"
alias bashrc="$EDITOR $BASHRC"
alias aliases="$EDITOR $ALIASES"

alias ls='eza -A --icons --color=auto --group-directories-first'
alias ll='ls -l'
alias l='ll --git --git-repos --no-time --no-user --no-filesize --no-permissions'
alias grep='grep --color=auto'

alias py='python'

alias ".."="cd .."
alias "..."="cd ../.."
alias "...."="cd ../../.."
alias "....."="cd ../../../.."
alias "......"="cd ../../../../.."
alias "......."="cd ../../../../../.."
alias "........"="cd ../../../../../../.."

alias lg='lazygit'
