#! /usr/bin/env zsh

alias refresh="source ${HOME}/.zshrc"

alias c='clear'
alias q='exit'

alias path='echo $PATH | tr ":" "\n"'
alias open='/mnt/c/Windows/explorer.exe'
alias gc="nix-collect-garbage --delete-old"

alias pbcopy="/mnt/c/Windows/System32/clip.exe"
alias pbpaste="/mnt/c/bin/pwsh/pwsh.exe -command 'Get-Clipboard'"
alias explorer="/mnt/c/Windows/explorer.exe"

alias d='ya'

alias so='source'

alias sobash="source $BASHRC"

alias install='sudo nala install'
alias search='sudo nala search'
alias uninstall='sudo nala remove'


alias v='$EDITOR'
alias sv="sudo $EDITOR"
alias vdot="$EDITOR $DOTFILES"
alias bashrc="$EDITOR $BASHRC"
alias aliases="$EDITOR $ALIASES"

alias grep='grep --color=auto'

alias npmup='npm install -g npm@latest'

alias py='python'

alias ".."="cd .."
alias "..."="cd ../.."
alias "...."="cd ../../.."
alias "....."="cd ../../../.."
alias "......"="cd ../../../../.."
alias "......."="cd ../../../../../.."
alias "........"="cd ../../../../../../.."

alias lg='lazygit'
